node_modules
.node_modules
.suo
slnx.sqlite
VSWorkspaceState.json
.vs
.DS_Store
.vscode/
package-lock.json

# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
lab8/node_modules
lab8/.pnp
lab8/.pnp.js

# testing
lab8/coverage

# production

# misc
lab8/.DS_Store
lab8/.env.local
lab8/.env.development.local
lab8/.env.test.local
lab8/.env.production.local

lab8/npm-debug.log*
lab8/yarn-debug.log*
lab8/yarn-error.log*

lab8/package-lock.json
lab8/package.json

lab9/